<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet para Supabase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Para leer archivos del dispositivo -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyFiles"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activities.ActividadPrincipal"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ActividadArchivos"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.ActividadDetalle"
            android:exported="false" />

        <activity
            android:name=".activities.ActividadSubir"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.ActividadFavoritos"
            android:exported="false" />

        <activity
            android:name=".activities.ActividadCarpeta"
            android:exported="false" />

        <activity
            android:name=".activities.ActividadLogin"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- FileProvider para compartir archivos descargados -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
